doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    title Chat
    |     
    link(rel='stylesheet', type='text/css', href='/stylesheets/semantic.min.css')
    |     
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    //#modal.ui.model
    //  .header
    //    form.ui.form
    //      .ui.action.input
    //        input(type='text', placeholder='Enter your full name here...', dir='auto')
    //        input(type='text', placeholder='Enter your username here...', dir='auto')
    //        button.ui.green.icon.button(type='submit')
    #container.ui.grid
      #friends-list.five.wide.column
        #user-info.ui.raised.stacked.segment
          h2.ui.icon.center.aligned.header
            img.ui.circular.image(src='/images/5.jpg')
            |                     
            .content
              | Welcome, Jane Doe!
              .sub.header @janedoe
        |             
        #roster.ui.vertical.menu.left
          .item
            .ui.transparent.icon.input
              input(type='text', placeholder='Add a friend...')
              |                         
              i.user.icon
          |                 
          a.active.green.item
            | sadjad
          |                 
          a.active.green.item
            | janedoe
            .ui.blue.label 1
          |                 
          a.blue.item
            | johnsmith
          |                 
          a.blue.item
            | erlich
          |                 
          a.blue.item
            | jian.yang
      |         
      #messages-pane.eleven.wide.column
        #message-header
          h2.ui.header
            i.comments.icon
            |                     
            .content
              | Conversation with @sadjad
              .sub.header Online
        |             
        #messages
          .ui.minimal.comments
            .comment
              a.avatar
                img(src='/images/1.jpg')
              |                         
              .content
                a.author Sadjad
                |                             
                .metadata
                  span.date Today at 5:42PM
                |                             
                .text
                  | Jane, did you see the project definition?
            |                     
            .comment
              a.avatar
                img(src='/images/5.jpg')
              |                         
              .content
                a.author Jane
                |                             
                .metadata
                  span.date Today at 6:44PM
                |                             
                .text
                  | No.
            |                     
            .comment
              a.avatar
                img(src='/images/1.jpg')
              |                         
              .content
                a.author Sadjad
                |                             
                .metadata
                  span.date Today at 6:45PM
                |                             
                .text
                  | It&apos;s about creating a chat system, like Viber or Telegram! Seems pretty interesting.
                  | Do you already have a group?
            |                     
            .comment
              a.avatar
                img(src='/images/5.jpg')
              |                         
              .content
                a.author Jane
                |                             
                .metadata
                  span.date Today at 8:44PM
                |                             
                .text
                  | No.
            |                     
            .comment
              a.avatar
                img(src='/images/1.jpg')
              |                         
              .content
                a.author Sadjad
                |                             
                .metadata
                  span.date Today at Today at 8:45PM
                |                             
                .text
                  | Oh! So, how about we do this project together? :)
            |                     
            .comment
              a.avatar
                img(src='/images/5.jpg')
              |                         
              .content
                a.author Jane
                |                             
                .metadata
                  span.date Today at 10:21PM
                |                             
                .text
                  | No.
            |                     
            .comment
              a.avatar
                img(src='/images/1.jpg')
              |                         
              .content
                a.author Sadjad
                |                             
                .metadata
                  span.date Today at 10:22PM
                |                             
                .text
                  | Do you really know any other words, other than &apos;no&apos;?
            |                     
            .comment
              a.avatar
                img(src='/images/5.jpg')
              |                         
              .content
                a.author Jane
                |                             
                .metadata
                  span.date Today at 11:00PM
                |                             
                .text
                  | No.
            |                     
            .comment
              a.avatar
                img(src='/images/1.jpg')
              |                         
              .content
                a.author Sadjad
                |                             
                .metadata
                  span.date Today at 11:01PM
                |                             
                .text
                  | Tell me if you changed your mind.
            |                     
            .comment
              a.avatar
                img(src='/images/5.jpg')
              |                         
              .content
                a.author Jane
                |                             
                .metadata
                  span.date Today at 11:49PM
                |                             
                .text
                  | I won&apos;t.
        |             
        #message-form-container
          form.ui.form
            .ui.action.input
              input(type='text', placeholder='Your message here...', dir='auto')
              |                         
              .ui.green.icon.button
                i.send.icon
                |  &nbsp;Send
    |     
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/semantic.min.js')
    script(src='/javascripts/myscript.js')
