doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    title Chat
    |     
    link(rel='stylesheet', type='text/css', href='static/semantic/semantic.min.css')
    |     
    link(rel='stylesheet', type='text/css', href='static/css/style.css')

  body
    #container.ui.grid
      #modal.ui.modal
          i.close.icon
          .header
              | Modal Title
          .content
              .description
                  form.ui.form.segment
                      .field
                          .label
                              | Full Name
                          input#fullname(type='text', placeholder='Enter your full name here...', dir='auto')

                      .field
                          .label
                              | Username
                          input#username(type='text', placeholder='Enter your username here...', dir='auto')

                      //button.ui.green.icon.button(type='submit')
                      //    | Send Information
                      .actions
                          //.ui.button Cancel
                          button#ok.ui.button(type='submit', style="float: left;") OK
      #friends-list.five.wide.column
        #user-info.ui.raised.stacked.segment
          h2.ui.icon.center.aligned.header
            img.ui.circular.image(src='static/avatars/5.jpg')
            |                     
            .content
              span Welcome, Jane Doe!
              .sub.header @janedoe
        |             
        #roster.ui.vertical.menu.left
          .item
            .ui.transparent.icon.input
              input#add_user(type='text', placeholder='Add a friend...')
              |                         
              i.user.icon
          |                 
          a.active.green.item
            | sadjad
          a.active.green.item
            | janedoe
            .ui.blue.label 1
          a.blue.item
            | johnsmith
          a.blue.item
            | jian.yang
      #messages-pane.eleven.wide.column
        #message-header
          h2.ui.header
            i.comments.icon
            |                     
            .content
              | Conversation with @sadjad
              .sub.header Online
        |             
        #messages
          .ui.minimal.comments
            .comment
              a.avatar
                img(src='static/avatars/1.jpg')
              |                         
              .content
                a.author Sadjad
                |                             
                .metadata
                  span.date Today at 5:42PM
                |                             
                .text
                  | Jane, did you see the project definition?
            .comment
              a.avatar
                img(src='./static/avatars/5.jpg')
              |                         
              .content
                a.author Jane
                |                             
                .metadata
                  span.date Today at 11:49PM
                |                             
                .text
                  | I won&apos;t.
        #message-form-container
          form#myform.ui.form(action="")
            .ui.action.input
              input#msg(type='text', placeholder='Your message here...', dir='auto')
              |                         
              button.ui.green.icon.button
                i.send.icon
                |  &nbsp;Send
    script(src='static/js/jquery-2.1.4.min.js')
    script(src='static/semantic/semantic.min.js')
    script(src="static/js/socket.io-1.2.0.js")
    //<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    //script(src='/socket.io/socket.io.js')
    script(src='/socket.io/socket.io.js')
    script(src='static/js/myscript.js')
    //script(src="https://cdn.socket.io/socket.io-1.3.5.js")